
h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bolder;
}

em{
    font-weight: bold;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: grey;
}

.navbar .navbar-brand { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold; 
}


#title{
    background-color: #ff4c68;
    color: #fff;
    font-size: large;
    padding-bottom: 10%;
}
 
.navbar-nav .nav-link{
    font-size: 2rem;
    padding: 16px;
    margin: 15px;
}
.row{
    padding: 4.5rem 0 0 0 ;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.fa-brands{
    padding: 3%;
}

.download-button{  
    margin:5% 3% 5%;
}


.title-image{
    transform: rotate(25deg);
    position: absolute;
}

.fa-solid{
    margin:10%;
    color: #ef8172;
}

#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding-bottom: 7%;
}

#testimonials{
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 3%;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 5rem;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.cards{
    border: 1rem;
    background-color:#EFEAD8;
    border-radius:20px;
}

#pricing{
    text-align: center;
    padding: 5% 10%;
}

.price-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

.cta-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    padding: 0 10% 5%;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15% 2%;
    text-align: center;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

@media (max-width:1028px)
{
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    
    }
}
